html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;

}

/*
header styles
*/
#headernav a {
  margin-right: 1rem;
}

/*
jumbotron styles
*/

.jumbotron {
  padding-top: 70px;
}

.jumbotron h1 {
  font-size: 4rem;
  font-weight: 500;
}

.jumbotron h4 {
  font-family: "Open Sans", sans-serif;
}

/*
portfolio styles
*/

.portheader {
  text-align: center;
}

.producttitle1, .producttitle2, .producttitle3 {
  text-align: center;
}

#projects h1 {
  font-size: 4rem;
}

.imagecontainer {
  overflow: hidden;
  cursor: pointer;
}

.tog {
  opacity: 0.6;
  transition: 0.5s, 0.5s;
}


.tog:hover {
  opacity: 1;
  transform: scale(1.1);
}

#github {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 86vh;
  left: 50vw;
  right: 50vw;
}

.textbox {
  top: 126px;
}

.textbox p {
  font-size: 1.5rem;
}

.portheader {
  padding-bottom: 2rem;
}
