html {
  font-size: 16px;
}


/*
header styles
*/
#headernav a {
  margin-right: 1rem;
}

/*
jumbotron styles
*/

.jumbotron {
  padding-top: 70px;
}

.jumbotron h1 {
  font-size: 3rem;
}


/*
Skills styles
*/

#flexcontainer {
  display: flex;
  justify-content: center;
}

#resume i {
  vertical-align: middle;
}


/*
portfolio styles
*/

.imagecontainer {
  overflow: hidden;
}

.tog {
  opacity: 0.6;
  transition: 0.5s, 0.5s;
}


.tog:hover {
  opacity: 1;
  transform: scale(1.1);
}

#github {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
footer styles
*/

footer i {
  vertical-align: middle;
}
